.container2 {
    margin-top: 7%;
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #serve-btn{
    display: inline-block;
	padding: 8px 15px;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	text-decoration: none;
	transition: all 2.0s;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top:40%
  }

.my{
    color: #ffcd24;
    font-size: large;
}

#service{
    color: #005596;
}
#serviceinfo{
    text-align: justify;
}